KOBO_TOKEN=colle_ton_token_api_kobo_ici
KOBO_BASE_URL=https://eu.kobotoolbox.org
KOBO_ASSET_UID=547ac1271d64844c67ef5b5643179cfdc8885a0a
REFRESH_INTERVAL_SECONDS=7200
AUTO_RELOAD_MS=300000
STALE_DATA_HOURS=24